.logos {
  &__text {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    color: rgba($white, .65);
  }

  &__list {
    max-width: 1120px;
    margin: 0 auto 135px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 40px 55px;
  }
}