.footer {
  padding-bottom: 40px;
  @media (max-width: 1300px) {
    padding-bottom: 26px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1300px) {
      gap: 30px;
      flex-wrap: wrap;
    }
    @include r($sm) {
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }

    img {
      @media (max-width: 1300px) {
        width: 182px;
        height: auto;
      }
    }
  }

  &__nav {
    @media (max-width: 1300px) {
      width: 100%;
      order: 2;
    }
  }

  &__logo, &__right {
    max-width: 380px;
    width: 100%;
    @media (max-width: 1300px) {
      max-width: max-content;
    }
  }

  &__right {
    @include flex-align-center(32);
    justify-content: flex-end;
    @media (max-width: 1300px) {
      gap: 20px;
    }
    @media (max-width: 370px) {
      flex-direction: column;
    }
  }

  &__list {
    @include flex-align-center(32);
    flex-wrap: wrap;
    gap: 20px 32px;
    @media (max-width: 1300px) {
      gap: 20px 26px;
    }
    @include r($sm) {
      justify-content: center;
    }
    @media (max-width: 420px) {
      max-width: 280px;
      margin: 0 auto;
    }
  }

  &__link {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px;
    transition: color .4s, border .4s;

    &:hover {
      color: $accent;
    }

    &:focus {
      border-color: $accent;
      color: $white;
    }
  }

  &__socials {
    @include flex-align-center(12);
  }

  &__social {
    @include flex-center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid rgba($white, .5);
    transition: background-color .4s, border .4s;

    &:hover {
      border-color: $accent;
    }

    &:focus {
      border-color: transparent;
      background-color: $accent;

      svg path {
        fill: $black;
      }
    }

    &.telegram {
      svg {
        transform: translateX(-1px);
      }
    }
  }
}